.hero {
  &__inner {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-weight: 900;
    letter-spacing: 2px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;

    @media (max-width: 36em) {
      font-size: var(--mantine-font-size-xl);
      letter-spacing: normal;
    }
  }

  &__description {
    color: var(--mantine-color-gray-0);
    text-align: center;
    font-weight: 600;

    @media (max-width: 36em) {
      font-size: var(--mantine-font-size-md);
    }
  }

  &__controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: 36em) {
      flex-direction: column;
    }
  }

  &__control {
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-left: var(--mantine-spacing-md);
    }

    @media (max-width: 36em) {
      &:not(:first-of-type) {
        margin-top: var(--mantine-spacing-md);
        margin-left: 0;
      }
    }
  }
}
